<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shubham Morvekar</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>
<body>
<!-- header section -->
    <header>
        <div class="profile">
            <img src="img/user.png" alt="Userimg" class="user-img">
            <h3 class="name">Shubham Morvekar</h3>
            <p class="user-intro">Software developer </p>
        </div>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#aboutme">About me</a>
                </li>
                <li>
                    <a href="#myskills">My Skills</a>
                </li>
                <li>
                    <a href="#projects">Project</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
<div id="menubar" class="fas fa-bars"></div>
<!-- header section ended -->

<!-- Home section started -->
  <section class="home" id="home">
    <%if(!succes==''){%>
        <div class="alert animate__animated animate__bounceIn animate__delay-2s">
            <span><%=succes%></span><i class="fas fa-times-circle"></i>
        </div>  
    <%}%>
      <h3 class="animate__animated animate__lightSpeedInLeft">Hello There !</h3>
      <h1 class="animate__animated animate__zoomIn">I am <span>Shubham Morvekar</span></h1>
      <p class="animate__animated animate__lightSpeedInLeft">I am a Software developer By profession but also a reader. 
          This website is my digital garden where i am serving information simply.You can find me on github, twitter,Instagram.  
      </p>
     <a href="#aboutme"><button class="btn animate__animated animate__fadeInUpBig">About me <i class="fas fa-user"></i></button></a>
  </section>
<!-- Home section end -->

<!-- Education section started -->
<section class="aboutme" id="aboutme">
    <h1 class="heading">About Me</h1>
    <div class="info">
        <p>I am a Software developer By profession but also a reader. This website is my digital garden where i am serving information simply. I enjoy creating things that focus on usefulness and elegance.
            Take a look at my skills & project. You can find me on github, twitter,Instagram.</p>
        <a href="#"><center><button class="btn"> Download CV <i class="fas fa-download"></i></button></center></a>
    </div>
    <div class="e-container">
        <div class="boxes">
            <i class="fas fa-graduation-cap"></i>
            <span>2020</span>
            <h3>Bachelor of science In information technology</h3> 
            <p>Mumbai University
               </p>
        </div>
        <div class="boxes">
            <i class="fas fa-graduation-cap"></i>
            <span>2017</span>
            <h3>HSC-Science</h3>
            <p>Maharashtra HSC board 
                </p>
        </div>
        <div class="boxes">
            <i class="fas fa-graduation-cap"></i>
            <span>2020</span>
            <h3>SSC</h3>
            <p>Maharashtra SSC board
                </p>
        </div>
    </div>
</section>
<!-- Education section ends -->

<!-- Aboutme section started -->
<section class="myskils" id="myskills">
        <h1  class="heading">My Skills<h1>
    <div class="counter">
        <div class="box">
            <i class="fab fa-node-js"></i>
            <span>JavaSript</span>
        </div>
        <div class="box">
            <i class="fab fa-node"></i>
            <span>NodeJs</span>
        </div>
        <div class="box">
            <i class="fab fa-html5"></i>
            <span>HTML5</span>
        </div>
        <div class="box">
            <i class="fab fa-css3-alt"></i>
            <span>CSS 3</span>
        </div>
        <div class="box">
            <i class="fab fa-bootstrap"></i>
            <span>Bootstrap</span>
        </div>
        <div class="box">
            <i class="fas fa-database"></i>
            <span>MongoDB</span>
        </div>
        <div class="box">
            <i class="fab fa-git"></i>
            <span>Git</span>
        </div>
        <div class="box">
            <i class="fab fa-php"></i>
            <span>PHP</span>
        </div>
    </div>
</section>
<!-- Aboutme section ends -->

<!-- projects section starts -->
<section class="projects" id="projects">
    <h1 class="heading">My projects</h1>
    <h3><i class="fab fa-github-square"></i>Visit My GitHub profile....</h3>
    <div class="container">
        
        <div class="boxes">
            <img src="img/github.png" alt="gihub image">
        </div>
    </div>
</section>
<!-- projects section ends -->

</div>
<!-- Contact section ends -->
<section class="contact" id="contact">
    <h1 class="heading">Get in touch</h1>
    <div class="row">
        <div class="myinfo">
            <h3 class="title">Contact info:</h3>
            <div class="info">
                <a href="mailto:shubham992069@gmail.com" class="anc"><i class="fas fa-envelope"></i>morvekarshubham@gmail.com</a>
                <a href="#" class="anc"><i class="fas fa-phone"></i>+91 992069598</a>
                <a href="#" class="anc"><i class="fas fa-address-book"></i>Thane,Maharashtra,India 400605</a>
                  <div class="s-icon">
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-github-alt"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                 </div>
            </div>

        </div>
        <div class="contact-form">
        <form action="/" method="POST">
            <input type="text" placeholder="Enter your name" class="box" name="uname" autocomplete="off">
            <input type="email" placeholder="Enter your email" class="box"  name="email" autocomplete="off">
            <input type="number" placeholder="Enter your number" class="box" name="pnumber" autocomplete="off">
            <textarea name="messages" id="" cols="30" rows="10" class="message box" placeholder="Enter your Message" autocomplete="off"></textarea>
            <button class="btn" type="submit">Submit<i class="far fa-paper-plane"></i></button>
        </form>
        </div>

        <div class="maps"></div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60285.646029316136!2d72.96759120102266!3d19.20162723353216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7bed3723be9b1%3A0x1c65fa2bfeabacc4!2sKalwa%2C%20Thane%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1629365697886!5m2!1sen!2sin" 
            width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
</section>

<!-- contact section ends -->
<!----------------Seedha top pe --------------->
    <a href="#home" class="top">
        <i class="fas fa-arrow-up"></i>
    </a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>